@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* header */
#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8em;
}

ul {
  display: flex;
}

ul li {
  margin: 1em;
  list-style: none;
}

ul li a,
#logo-container a {
  text-decoration: none;
}

.card-row{
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* main */
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 480px;
  height: 720px;
}

.image {
  border-radius: 8px;
  background: #50a7ff;
  position: relative;
  flex: 1;
  max-width: 500px;
  height: 720px;
  margin: 20px;
  overflow: visible;
}

.image img {
  opacity: 0.8;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}
